<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">   
    <testsuites>
        <testsuite name="PermissionService">
            <directory>test/Service/Permission</directory>
        </testsuite>
        <testsuite name="UserService">
            <directory>test/Service/User</directory>
        </testsuite>
    </testsuites>
</phpunit>
